* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: cairo norm;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: cairo bo;
  src: url(../fonts/Cairo-Black.ttf);
}

@font-face {
  font-family: cairo li;
  src: url(../fonts/Cairo-Light.ttf);
}

@font-face {
  font-family: cairo norm;
  src: url(../fonts/Cairo-Regular.ttf);
}

.animated-icon1 {
  width: 20px;
  height: 25px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler {
  background: #01A4EA;
}

.animated-icon1 span {
  background: #fff;
}

.animated-icon1 span:nth-child(1) {
  top: 2px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 17px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.top-bar {
  border-bottom: 1px solid #0000001a;
}

.top-bar .container a {
  color: #6c757d;
  font-family: cairo bo;
  text-decoration: none;
  padding: 0 .6rem;
  border-left: 1px solid #0000001a;
  font-size: 12px;
}

.top-bar .container a:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 426px) {
  .top-bar .container a {
    font-size: 7px;
  }
}

.top-bar .container .last-link {
  color: #28A745;
  border-left: none;
}

.main-nav {
  border-bottom: 1px solid #0000001a;
  background: #fff;
}

.main-nav .container .navbar-toggler {
  background: #01A4EA;
}

.main-nav .container form .input-group input {
  border-radius: 5px;
}

.main-nav .container form .input-group input:focus {
  border: #0000001a 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .container form .input-group .input-group-btn {
  margin-right: -2.5rem !important;
  z-index: 99;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .container form .input-group .input-group-btn .btn {
  color: #999;
}

.main-nav .container form .input-group .input-group-btn .btn:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .container ul li {
  padding-right: .3rem;
  background: #fff;
}

.main-nav .container ul .sell-link, .main-nav .container ul .login-link {
  padding: .3rem 1.5rem;
  margin: 0 .2rem;
  border-radius: 5px;
  color: #fff !important;
  font-size: 13px;
}

.main-nav .container ul .sell-link {
  background: #28A745;
}

.main-nav .container ul .login-link {
  background: #01A4EA;
}

.main-nav .container ul i {
  color: #01A4EA;
  font-size: 1.5rem;
  position: relative;
}

.main-nav .container ul .order-count::before {
  content: "0";
  position: absolute;
  width: 10px;
  height: 10px;
  line-height: 1.4rem;
  top: 0;
  margin-left: 1.5rem;
  margin-right: .9rem;
  color: #fd7e14;
  font-weight: bold;
  text-align: center;
}

.pages-bar {
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
}

.pages-bar ul li:hover {
  background: #F8F9FA;
}

.pages-bar ul li a {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 12px;
  text-decoration: none;
  padding: .6rem 1.5rem !important;
  border-left: 1px solid #f0eded;
}

.pages-bar ul li a:hover, .pages-bar ul li a:focus {
  color: #01A4EA;
}

.pages-bar .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.pages-bar .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.pages-bar .dropdown-menu a:active, .pages-bar .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.pages-bar .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.pages-bar .dropdown-menu li:hover {
  border-bottom: none !important;
}

.pages-bar .dropdown-toggle::after {
  display: none;
}

.pages-bar .dropdown:hover .dropdown-menu {
  display: block !important;
  -webkit-box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
}

.mobile-nav-links a {
  border-bottom: 1px solid #0000001a;
  color: #6c757d !important;
  font-weight: bold;
  text-decoration: none;
}

.mobile-nav-links a:hover {
  text-decoration: underline;
}

.mobile-nav-links a:last-child {
  border: none;
}

.mobile-nav-links .sell-linky {
  color: #28A745 !important;
}

.mobile-nav-links .login-linky {
  color: #01A4EA !important;
}

.mobile-nav-links .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.mobile-nav-links .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.mobile-nav-links .dropdown-menu a:hover {
  color: #01A4EA !important;
}

.mobile-nav-links .dropdown-menu a:active, .mobile-nav-links .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.mobile-nav-links .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.mobile-nav-links .dropdown-menu li:hover {
  border-bottom: none !important;
}

footer .adv {
  border-bottom: 1px solid #c7c7c7;
}

footer .adv h6 {
  color: #01A4EA;
  font-family: cairo bo;
  font-size: 19.2px;
}

footer .adv p {
  font-size: 14.4px;
  font-family: cairo li;
}

footer .adv i {
  font-size: 3.5rem;
  color: #01A4EA;
}

footer .adv .circle {
  border: 2px dashed #01A4EA;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .8rem;
  margin: auto;
}

footer .info h5 {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 18px;
}

footer .info li a {
  color: #6c757d;
  text-decoration: none;
}

footer .info li a:hover {
  text-decoration: underline;
  color: #01A4EA;
}

footer .info li::marker {
  color: #6c757d;
}

footer .contact-part i {
  color: #01A4EA;
  font-size: 1.3rem;
}

footer .contact-part .follow-us .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: .2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .contact-part .follow-us .circle:hover {
  background: #01A4EA !important;
}

footer .contact-part .follow-us i {
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

footer .banks-logos p {
  color: #6c757d;
}

header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.account {
  background: #F3F3F3;
  margin-top: -2.5rem;
}

.account .personal-part {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 9px 4px rgba(165, 153, 153, 0.25);
          box-shadow: 0px 3px 9px 4px rgba(165, 153, 153, 0.25);
}

.account .personal-part img {
  width: 100px;
}

.account .personal-part h5 i {
  width: 25px;
  height: 25px;
  color: #28a745;
  border: 2px solid #28a745;
  padding: 1px;
  border-radius: 50%;
}

.account .personal-part p {
  font-size: 12.8px;
  color: #28a745;
}

.account .personal-part .multicolored {
  height: 4px;
  background: linear-gradient(110deg, #fb4848, #d8d892 60%, #87d387 20%);
}

.account .personal-part .contact-me i {
  font-size: 35px;
  color: #01A4EA;
}

@media (min-width: 768px) and (max-width: 991px) {
  .account .personal-part .contact-me i {
    font-size: 25px;
  }
}

.account .personal-part .modal-part .subscribe-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .2rem 3rem;
  background: #fff;
  color: #6c757d;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(165, 153, 153, 0.35);
          box-shadow: 0px 0px 9px 4px rgba(165, 153, 153, 0.35);
}

.account .personal-part .modal-part .subscribe-btn:hover {
  background: #6c757d;
  color: #fff;
}

.account .personal-part .modal-part .subscribe-btn i {
  color: inherit;
}

.account .personal-part .modal-part .modal-title {
  font-family: cairo bo;
}

.account .personal-part .modal-part .modal-body a {
  color: #fff;
  padding: .2rem .5rem;
}

.account .personal-part .stats h6 {
  font-weight: bold;
}

.account .personal-part .stats p {
  font-size: 14px;
}

.account .personal-part .reviews .stars {
  font-size: 9px;
  padding: 0;
  color: #01A4EA;
}

.account .personal-part .reviews .stars i {
  margin: 0 -.1rem;
}

.account .personal-part .reviews .progress-bars {
  width: 15px;
}

.account .personal-part .reviews .progress-bars .progress {
  height: 6px;
  border: 1px solid #d3cece;
}

.account .personal-part .reviews .progress-bars .progress .progress-bar {
  background: #01A4EA;
}

.account .personal-part .reviews .degree span {
  color: #01A4EA;
  font-size: 10px;
  font-weight: bold;
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .account .personal-part .reviews .degree span {
    font-size: .7vw;
  }
}

.account .personal-part .reviews .percentage {
  font-size: 9px;
}

.account .personal-part .reviews .percentage span {
  display: block;
}

.account .personal-part .reviews .average {
  font-size: 12px;
}

.account .personal-part .reviews .average .stars {
  font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .account .personal-part .reviews .average .stars {
    font-size: 8px;
  }
}

.account .personal-part .reviews .average h5 {
  font-weight: bold;
  font-size: 25px;
  color: #01A4EA;
}

@media (min-width: 320px) and (max-width: 767px) {
  .account .tabs-part {
    margin-top: 3rem;
  }
}

.account .tabs-part .active {
  border-top: 0.25rem solid #01A4EA !important;
  font-family: cairo bo;
}

.account .tabs-part .tablink {
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 .2rem;
  background: #f8f9fa;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 445px) {
  .account .tabs-part .tablink {
    font-size: 11px;
    padding: 12px 5px;
  }
}

.account .tabs-part .for-border {
  border-radius: 5px 5px 0 0;
}

.account .tabcontent {
  background: #fff;
  border-radius: 5px 0 5px 5px;
  -webkit-box-shadow: 0px 3px 9px 4px rgba(165, 153, 153, 0.25);
          box-shadow: 0px 3px 9px 4px rgba(165, 153, 153, 0.25);
}

.account .tabcontent h4 {
  color: #6c757d;
}

.account .tabcontent .filter-part .form-control {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #e6e0e0;
}

.account .tabcontent .filter-part .form-control:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

.account .tabcontent .filter-part .btn-default {
  margin-right: -2.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #01A4EA;
  z-index: 99;
}

.account .tabcontent .first-select select {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #e6e0e0;
}

.account .tabcontent .first-select select:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

@media (min-width: 320px) and (max-width: 768px) {
  .account .tabcontent .first-select select {
    width: 100%;
    margin: .7rem 0;
  }
}

.account .tabcontent .second-select select {
  width: 60%;
  border-radius: 5px;
  border: 1px solid #e6e0e0;
}

.account .tabcontent .second-select select:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

.account .tabcontent select {
  color: #6c757d;
  outline: none;
}

.account .tabcontent .orders-part img {
  max-width: 100px;
  min-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  background: #E9ECEF;
}

@media (min-width: 320px) and (max-width: 768px) {
  .account .tabcontent .orders-part img {
    max-width: 100% !important;
    min-width: 100% !important;
    margin-bottom: 1rem;
  }
}

.account .tabcontent .orders-part .order-title a {
  color: #000;
  text-decoration: none;
}

.account .tabcontent .orders-part .order-title a:hover {
  color: #01A4EA;
  text-decoration: underline;
}

.account .tabcontent .orders-part .order-title p {
  font-size: 12px;
}

.account .tabcontent .orders-part .order-price h4 {
  color: #01A4EA;
  font-size: 16px;
}

.account .tabcontent .orders-part .order-price p {
  font-size: 24px;
}

.account .tabcontent .orders-part .order-avail h4 {
  color: #01A4EA;
  font-size: 16px;
}

.account .tabcontent .orders-part .order-avail input {
  width: 100%;
  padding: .3rem 0;
  border: 1px solid  #afb4b8;
  border-radius: 5px;
}

.account .tabcontent .orders-part .order-avail input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
  outline: none;
}

.account .tabcontent .orders-part .order-submit a {
  color: #fff;
  background: #01A4EA;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 5px;
}

.account hr:last-of-type {
  display: none;
}

.account .pagination .page-link {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 35px;
  height: 35px;
  padding-top: .2rem;
}

.account .pagination .page-link:focus {
  border: 2px solid #01A4EA;
  border-radius: 50%;
}

.account [aria-label="Next"], .account [aria-label="Previous"] {
  border: none !important;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff !important;
  font-family: cairo bo;
  border-top: 0.25rem solid #01A4EA !important;
}

.order-review .col-2 {
  margin: -.35rem;
}
