* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: cairo norm;
  scrollbar-color: #01A4EA #c8edfc;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: cairo bo;
  src: url("../fonts/Cairo-Black.ttf");
}

@font-face {
  font-family: cairo li;
  src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: cairo norm;
  src: url("../fonts/Cairo-Regular.ttf");
}

.animated-icon1 {
  width: 20px;
  height: 25px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler {
  background: #01A4EA;
}

.animated-icon1 span {
  background: #fff;
}

.animated-icon1 span:nth-child(1) {
  top: 2px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 17px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.top-bar {
  border-bottom: 1px solid #0000001a;
}

.top-bar .container p {
  font-size: 12px;
  color: #6c757d;
  margin: 0;
}

.top-bar .container a {
  color: #6c757d;
  font-family: cairo bo;
  text-decoration: none;
  padding: 0 .6rem;
  border-left: 1px solid #0000001a;
  font-size: 12px;
}

.top-bar .container a:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 426px) {
  .top-bar .container a {
    font-size: 7px;
  }
}

.top-bar .container .last-link {
  color: #28A745;
  border-left: none;
}

.main-nav {
  border-bottom: 1px solid #0000001a;
  background: #fff;
}

.main-nav .container .navbar-toggler {
  background: #01A4EA;
  top: 0;
  z-index: 1010;
}

.main-nav .container .navbar-collapse {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 1024px) and (max-width: 3000px) {
  .main-nav .container .navbar-brand, .main-nav .container .navbar-nav {
    width: 27.5%;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .main-nav .container .navbar-brand {
    width: 110px;
  }
}

.main-nav .container .navbar-form {
  width: 45%;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .main-nav .container .navbar-form {
    width: 35%;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-nav .container .navbar-form {
    width: 80%;
    margin: 1rem auto !important;
  }
}

.main-nav .container form {
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.1);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.1);
  position: relative;
  width: 40%;
}

.main-nav .container form .input-group::after {
  position: absolute;
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #b1b1b1;
  font-size: 14px;
  text-align: center;
  padding: .2rem .1rem;
  width: 20px;
  height: 20px;
  top: 2.5px;
  right: 2.5px;
  z-index: 999;
}

.main-nav .container form .input-group ::-webkit-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group :-ms-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group ::-ms-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group ::placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group input {
  height: 30px;
}

.main-nav .container form .input-group input:focus {
  border: #0000001a 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .container ul .fa-envelope {
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  padding: .4rem .4rem;
  font-size: 20px;
}

.main-nav .container ul li {
  padding-right: .3rem;
  background: #fff;
}

.main-nav .container ul .user-menu {
  position: relative;
}

.main-nav .container ul .user-menu .nav-link {
  color: #01A4EA;
  font-size: 12px;
  margin: 0 .5rem;
}

.main-nav .container ul .user-menu .nav-link i {
  font-size: 20px;
  padding-left: .2rem;
}

.main-nav .container ul .user-menu .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
  font-size: 12px;
  position: absolute;
  top: 120%;
  right: -50% !important;
}

.main-nav .container ul .user-menu .dropdown-menu li {
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item {
  border-bottom: 1px solid #ced4da;
  padding: .4rem;
  color: #000;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item:hover {
  color: #016F9E;
  text-decoration: underline;
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item:active {
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item i {
  font-size: 15px;
  padding-left: .3rem;
  color: #000;
}

.main-nav .container ul .balance {
  position: absolute;
  content: '';
  top: 33px;
  color: #FD7E14;
  font-size: 11px;
}

@media (min-width: 991px) and (max-width: 30001px) {
  .main-nav .container ul .balance {
    left: 95px;
  }
}

.main-nav .container ul .sell-link, .main-nav .container ul .login-link {
  width: 90px;
  height: 30px;
  padding: .3rem .1rem;
  font-size: 10px;
  font-weight: bold;
  margin: 0 .1rem;
  border-radius: 5px;
  color: #fff !important;
  text-align: center;
}

.main-nav .container ul .sell-link {
  margin-top: .3rem;
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-nav .container ul .login-link {
    margin-top: .4rem;
    padding: .3rem;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .container ul .login-link {
    margin-left: 1rem;
  }
}

.main-nav .container ul .sell-link {
  background: #28A745;
}

.main-nav .container ul .login-link {
  background: #01A4EA;
}

.main-nav .container ul i {
  color: #01A4EA;
  font-size: 1.5rem;
  position: relative;
}

.main-nav .container ul .order-count::before {
  content: "0";
  position: absolute;
  width: 10px;
  height: 10px;
  line-height: 1.4rem;
  top: -6px;
  margin-left: 1.5rem;
  margin-right: -.3rem;
  color: #fd7e14;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.pages-bar {
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
}

.pages-bar ul li:last-of-type::after {
  content: none;
}

.pages-bar ul li {
  position: relative;
  border-bottom: 3px solid transparent;
}

.pages-bar ul li:hover {
  background: #F8F9FA;
  border-bottom: 3px solid #01A4EA;
}

.pages-bar ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background: #f6efef;
  top: 10px;
  left: 0;
}

.pages-bar ul li a {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 12px;
  text-decoration: none;
  padding: .6rem 1.5rem !important;
}

.pages-bar ul li a:hover, .pages-bar ul li a:focus {
  color: #01A4EA;
}

.pages-bar .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.pages-bar .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.pages-bar .dropdown-menu a:active, .pages-bar .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.pages-bar .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.pages-bar .dropdown-menu li:hover {
  border-bottom: none !important;
}

.pages-bar .dropdown-toggle::after {
  display: none;
}

.pages-bar .dropdown:hover .dropdown-menu {
  display: block !important;
  -webkit-box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
}

.mobile-nav-links a {
  border-bottom: 1px solid #0000001a;
  color: #6c757d !important;
  font-weight: bold;
  text-decoration: none;
}

.mobile-nav-links a:hover {
  text-decoration: underline;
}

.mobile-nav-links a:last-child {
  border: none;
}

.mobile-nav-links .sell-linky {
  color: #28A745 !important;
}

@media (min-width: 320px) and (max-width: 991px) {
  .mobile-nav-links .sell-linky {
    border-bottom: 1px solid #0000001a !important;
  }
}

.mobile-nav-links .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.mobile-nav-links .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.mobile-nav-links .dropdown-menu a:hover {
  color: #01A4EA !important;
}

.mobile-nav-links .dropdown-menu a:active, .mobile-nav-links .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.mobile-nav-links .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.mobile-nav-links .dropdown-menu li:hover {
  border-bottom: none !important;
}

footer .adv {
  border-bottom: 1px solid #c7c7c7;
}

footer .adv h6 {
  color: #01A4EA;
  font-family: cairo bo;
  font-size: 19.2px;
}

footer .adv p {
  font-size: 14.4px;
  font-family: cairo li;
}

footer .adv i {
  font-size: 3.5rem;
  color: #01A4EA;
}

footer .adv .circle {
  border: 2px dashed #01A4EA;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .8rem;
  margin: auto;
}

footer .info h5 {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 18px;
}

footer .info li a {
  color: #6c757d;
  text-decoration: none;
}

footer .info li a:hover {
  text-decoration: underline;
  color: #01A4EA;
}

footer .info li::marker {
  color: #6c757d;
}

footer .contact-part i {
  color: #01A4EA;
  font-size: 1.3rem;
}

footer .contact-part .follow-us .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: .2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .contact-part .follow-us .circle:hover {
  background: #01A4EA !important;
}

footer .contact-part .follow-us i {
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

footer .banks-logos img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .banks-logos p {
  color: #6c757d;
}

.blog-item .secondary-container {
  text-align: start;
}

.blog-item .secondary-container a {
  color: #01A4EA;
  text-decoration: none;
  border: 1px solid #01A4EA;
  text-align: right;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
  padding: .1rem .4rem;
}

.blog-item .secondary-container a:hover {
  text-decoration: underline;
  color: #016f9e;
}

.blog-item .secondary-container .page-index {
  background: #01A4EA;
  padding: .1rem .6rem;
  color: #fff;
  border-radius: 5px;
}

.discount-badge {
  position: absolute;
  content: '';
  top: -5.8px;
  right: 6px;
  width: 55px;
  height: 55px;
  background-position: center;
  background: url("https://www.gamesatis.com/assets/icons/salesale-d999fd6103def214a04a0339f8b44d481e28a0018a7a3120f9dc50d41003ca3c.svg") no-repeat;
}

.discount-value {
  position: absolute;
  top: -3px;
  right: 16px;
  color: #fff !important;
  z-index: 99;
}

.blog-item .cards .card {
  position: relative;
}

.blog-item .cards .card img {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
}

.blog-item .cards .card .card-body .card-title {
  color: #000;
  font-weight: bold;
  font-size: 18.4px;
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.blog-item .cards .card .card-body .card-title:hover {
  text-decoration: underline;
  color: #01A4EA;
}

.blog-item .cards .card .card-body .card-desc {
  color: #dc3545;
  font-family: cairo bo;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.blog-item .cards .card .card-body .card-desc:hover {
  text-decoration: underline;
  color: #a71d2a;
}

.blog-item .cards .card .card-body .d-flex .col-6 {
  padding: 0;
}

.blog-item .cards .card .card-body .card-price {
  color: #dc3545;
  text-decoration: line-through;
}

.blog-item .cards .card .card-body .card-discount {
  color: #6c757d;
}

.blog-item .cards .card .card-body .buy-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #01A4EA;
  padding: .1rem .3rem;
  color: #fff;
  text-decoration: none;
}

.blog-item .comments .page-link {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 35px;
  height: 35px;
  padding-top: .2rem;
}

.blog-item .comments .page-link:focus {
  border: 2px solid #01A4EA;
  border-radius: 50%;
}

[aria-label="Next"], [aria-label="Previous"] {
  border: none !important;
}

.blog-item {
  background: #F3F3F3;
}

.blog-item .main-container .item-show {
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
}

.blog-item .main-container .item-show .game-img .item-img {
  position: relative;
}

.blog-item .main-container .item-show .game-img .item-img span {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #28a745;
  text-align: center;
  padding: .1rem .4rem;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
}

.blog-item .main-container .item-show .game-img .item-img img {
  min-width: 100%;
  max-width: 100%;
  min-height: 180px;
  max-height: 180px;
}

.blog-item .main-container .item-show .game-img .item-desc p {
  color: #6c757d;
}

.blog-item .main-container .item-show .game-img .item-desc p img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  max-height: 30px;
  min-height: 30px;
  max-width: 40px;
  min-width: 40px;
  float: left;
}

.blog-item .main-container .item-show .game-img .item-info p {
  font-size: 13px;
}

.blog-item .main-container .item-show .game-img .item-info i {
  color: #01A4EA;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .blog-item .main-container .item-show .game-info {
    border-top: 1px solid #0000001a;
    margin-top: 1rem;
    padding: 1rem;
  }
}

.blog-item .main-container .item-show .game-info .game-name {
  font-size: 24px;
  font-weight: bold;
}

.blog-item .main-container .item-show .game-info .game-desc {
  font-size: 18px;
  color: #dc3545;
  font-weight: bold;
  margin: .4rem 0;
}

.blog-item .main-container .item-show .game-info .ad-no {
  color: #01A4EA;
  font-weight: bold;
  margin: 0;
}

.blog-item .main-container .item-show .game-info .real-price {
  font-size: 16px;
  color: #dc3545;
  text-decoration: line-through;
  margin: .2rem 0;
}

.blog-item .main-container .item-show .game-info .price-discount {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin: .3rem 0;
}

.blog-item .main-container .item-show .game-info .action input {
  width: 15%;
  text-align: center;
  border: 1px solid #0000001a;
  border-radius: 5px;
  padding: .2rem 0;
  outline: none;
}

.blog-item .main-container .item-show .game-info .action input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

.blog-item .main-container .item-show .game-info .action span {
  font-size: 13px;
}

.blog-item .main-container .item-show .game-info .action span i {
  color: #01A4EA;
  font-size: 20px;
}

.blog-item .main-container .item-show .game-info .action a {
  color: #fff;
  background: #01A4EA;
  border-radius: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
  padding: .3rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.blog-item .main-container .item-show .game-info .last-p {
  font-size: 12px;
  color: #6c757d;
  font-weight: bold;
}

.blog-item .main-container .item-show .game-review img {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
}

.blog-item .main-container .item-show .game-review h1 {
  font-size: 18px;
  color: #6c757d;
}

.blog-item .main-container .item-show .game-review h1:hover {
  color: #016f9e;
  cursor: pointer;
}

.blog-item .main-container .item-show .game-review .multicolored {
  position: relative;
  margin: auto;
  width: 70%;
  height: 6px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.879925)), color-stop(31%, #dddb1e), color-stop(62%, #f3fd0f), to(#10a848));
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.879925) 0%, #dddb1e 31%, #f3fd0f 62%, #10a848 100%);
}

.blog-item .main-container .item-show .game-review .multicolored::before {
  position: absolute;
  content: '100%';
  font-size: 12px;
  top: -6px;
  left: -30px;
  color: #000;
}

.blog-item .main-container .item-show .game-review .multicolored::after {
  position: absolute;
  content: '';
  background: url("../img/game-logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 60px;
  font-size: 12px;
  top: -30px;
  right: -60px;
  color: #000;
}

.blog-item .main-container .item-show .game-review p {
  color: #01A4EA;
  font-size: 13.5px;
}

.blog-item .main-container .item-show .game-review h2 {
  font-size: 16px;
}

.blog-item .cards h1 {
  font-size: 20px;
  color: #6c757d;
}

.blog-item .comments {
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
  border-radius: #0000001a;
  width: 92%;
}

.blog-item .comments .reviews img {
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  max-height: 130px;
}

@media (min-width: 320px) and (max-width: 450px) {
  .blog-item .comments .reviews img {
    min-height: 60px;
    max-height: 60px;
  }
}

.blog-item .comments .reviews .table-part .stars {
  color: #01A4EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .33rem;
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 991px) {
  .blog-item .comments .reviews .table-part .stars {
    font-size: 6px;
  }
}

.blog-item .comments .reviews .table-part .rev {
  color: #01A4EA;
  font-size: 12px;
  text-align: start;
  padding-left: .2rem;
}

@media (min-width: 320px) and (max-width: 991px) {
  .blog-item .comments .reviews .table-part .rev {
    font-size: 7px;
  }
}

.blog-item .comments .reviews .table-part .progress-control {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 991px) {
  .blog-item .comments .reviews .table-part .progress-control {
    width: 28%;
  }
}

.blog-item .comments .reviews .table-part .progress-control .progress {
  height: 14px;
  background: #e9ecef;
}

@media (min-width: 320px) and (max-width: 991px) {
  .blog-item .comments .reviews .table-part .progress-control .progress {
    height: 7px;
  }
}

.blog-item .comments .reviews .table-part .progress-control .progress .progress-bar {
  background-color: #01A4EA;
}

.blog-item .comments .reviews .table-part .ps-3 {
  font-size: 10px;
}

.blog-item .comments .last-average p {
  font-size: 16px;
  margin-bottom: .5rem;
}

.blog-item .comments .last-average span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #01A4EA;
  font-size: 10px;
}

.blog-item .comments .last-average h1 {
  font-size: 30px;
  font-weight: bold;
  color: #01A4EA;
}

.blog-item .comments h4 {
  color: #6c757d;
  font-size: 24px;
}

.blog-item .comments .comments-part {
  border-radius: #0000001a;
  background: #F3F3F3;
  font-size: 12px;
}

.blog-item .comments .comments-part img {
  min-width: 100%;
  max-width: 100%;
  min-height: 90px;
  max-height: 90px;
}

@media (min-width: 320px) and (max-width: 450px) {
  .blog-item .comments .comments-part img {
    -o-object-fit: contain;
       object-fit: contain;
    min-height: 100%;
    max-height: 100%;
  }
}
