* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: cairo norm;
  scrollbar-color: #01A4EA #c8edfc;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: cairo bo;
  src: url("../fonts/Cairo-Black.ttf");
}

@font-face {
  font-family: cairo li;
  src: url("../fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: cairo norm;
  src: url("../fonts/Cairo-Regular.ttf");
}

.animated-icon1 {
  width: 20px;
  height: 25px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler {
  background: #01A4EA;
}

.animated-icon1 span {
  background: #fff;
}

.animated-icon1 span:nth-child(1) {
  top: 2px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 17px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.top-bar {
  border-bottom: 1px solid #0000001a;
}

.top-bar .container p {
  font-size: 12px;
  color: #6c757d;
  margin: 0;
}

.top-bar .container a {
  color: #6c757d;
  font-family: cairo bo;
  text-decoration: none;
  padding: 0 .6rem;
  border-left: 1px solid #0000001a;
  font-size: 12px;
}

.top-bar .container a:hover {
  text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 426px) {
  .top-bar .container a {
    font-size: 7px;
  }
}

.top-bar .container .last-link {
  color: #28A745;
  border-left: none;
}

.main-nav {
  border-bottom: 1px solid #0000001a;
  background: #fff;
}

.main-nav .container .navbar-toggler {
  background: #01A4EA;
  top: 0;
  z-index: 1010;
}

.main-nav .container .navbar-collapse {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 1024px) and (max-width: 3000px) {
  .main-nav .container .navbar-brand, .main-nav .container .navbar-nav {
    width: 27.5%;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .main-nav .container .navbar-brand {
    width: 110px;
  }
}

.main-nav .container .navbar-form {
  width: 45%;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .main-nav .container .navbar-form {
    width: 35%;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-nav .container .navbar-form {
    width: 80%;
    margin: 1rem auto !important;
  }
}

.main-nav .container form {
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.1);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.1);
  position: relative;
  width: 40%;
}

.main-nav .container form .input-group::after {
  position: absolute;
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: #b1b1b1;
  font-size: 14px;
  text-align: center;
  padding: .2rem .1rem;
  width: 20px;
  height: 20px;
  top: 2.5px;
  right: 2.5px;
  z-index: 999;
}

.main-nav .container form .input-group ::-webkit-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group :-ms-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group ::-ms-input-placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group ::placeholder {
  color: #ced4da;
}

.main-nav .container form .input-group input {
  height: 30px;
}

.main-nav .container form .input-group input:focus {
  border: #0000001a 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .container ul .fa-envelope {
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  padding: .4rem .4rem;
  font-size: 20px;
}

.main-nav .container ul li {
  padding-right: .3rem;
  background: #fff;
}

.main-nav .container ul .user-menu {
  position: relative;
}

.main-nav .container ul .user-menu .nav-link {
  color: #01A4EA;
  font-size: 12px;
  margin: 0 .5rem;
}

.main-nav .container ul .user-menu .nav-link i {
  font-size: 20px;
  padding-left: .2rem;
}

.main-nav .container ul .user-menu .dropdown-menu {
  border: none;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
  font-size: 12px;
  position: absolute;
  top: 120%;
  right: -50% !important;
}

.main-nav .container ul .user-menu .dropdown-menu li {
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item {
  border-bottom: 1px solid #ced4da;
  padding: .4rem;
  color: #000;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item:hover {
  color: #016F9E;
  text-decoration: underline;
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item:active {
  background: none;
}

.main-nav .container ul .user-menu .dropdown-menu li .dropdown-item i {
  font-size: 15px;
  padding-left: .3rem;
  color: #000;
}

.main-nav .container ul .balance {
  position: absolute;
  content: '';
  top: 33px;
  color: #FD7E14;
  font-size: 11px;
}

@media (min-width: 991px) and (max-width: 30001px) {
  .main-nav .container ul .balance {
    left: 95px;
  }
}

.main-nav .container ul .sell-link, .main-nav .container ul .login-link {
  width: 90px;
  height: 30px;
  padding: .3rem .1rem;
  font-size: 10px;
  font-weight: bold;
  margin: 0 .1rem;
  border-radius: 5px;
  color: #fff !important;
  text-align: center;
}

.main-nav .container ul .sell-link {
  margin-top: .3rem;
}

@media (min-width: 320px) and (max-width: 991px) {
  .main-nav .container ul .login-link {
    margin-top: .4rem;
    padding: .3rem;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .container ul .login-link {
    margin-left: 1rem;
  }
}

.main-nav .container ul .sell-link {
  background: #28A745;
}

.main-nav .container ul .login-link {
  background: #01A4EA;
}

.main-nav .container ul i {
  color: #01A4EA;
  font-size: 1.5rem;
  position: relative;
}

.main-nav .container ul .order-count::before {
  content: "0";
  position: absolute;
  width: 10px;
  height: 10px;
  line-height: 1.4rem;
  top: -6px;
  margin-left: 1.5rem;
  margin-right: -.3rem;
  color: #fd7e14;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.pages-bar {
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
          box-shadow: 0px 5px 6px -1px rgba(172, 150, 150, 0.3);
}

.pages-bar ul li:last-of-type::after {
  content: none;
}

.pages-bar ul li {
  position: relative;
  border-bottom: 3px solid transparent;
}

.pages-bar ul li:hover {
  background: #F8F9FA;
  border-bottom: 3px solid #01A4EA;
}

.pages-bar ul li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  background: #f6efef;
  top: 10px;
  left: 0;
}

.pages-bar ul li a {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 12px;
  text-decoration: none;
  padding: .6rem 1.5rem !important;
}

.pages-bar ul li a:hover, .pages-bar ul li a:focus {
  color: #01A4EA;
}

.pages-bar .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.pages-bar .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.pages-bar .dropdown-menu a:active, .pages-bar .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.pages-bar .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.pages-bar .dropdown-menu li:hover {
  border-bottom: none !important;
}

.pages-bar .dropdown-toggle::after {
  display: none;
}

.pages-bar .dropdown:hover .dropdown-menu {
  display: block !important;
  -webkit-box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
          box-shadow: 0px 6px 82px 3px rgba(255, 255, 255, 0.7);
}

.mobile-nav-links a {
  border-bottom: 1px solid #0000001a;
  color: #6c757d !important;
  font-weight: bold;
  text-decoration: none;
}

.mobile-nav-links a:hover {
  text-decoration: underline;
}

.mobile-nav-links a:last-child {
  border: none;
}

.mobile-nav-links .sell-linky {
  color: #28A745 !important;
}

@media (min-width: 320px) and (max-width: 991px) {
  .mobile-nav-links .sell-linky {
    border-bottom: 1px solid #0000001a !important;
  }
}

.mobile-nav-links .dropdown-menu {
  padding: 0;
  border: 1px solid #01A4EA;
  border-top: 3px solid #01A4EA;
  border-radius: 0;
  margin-top: 0 !important;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.3);
  z-index: 999;
}

.mobile-nav-links .dropdown-menu a {
  font-family: cairo li;
  font-weight: bold;
}

.mobile-nav-links .dropdown-menu a:hover {
  color: #01A4EA !important;
}

.mobile-nav-links .dropdown-menu a:active, .mobile-nav-links .dropdown-menu a:hover {
  background: #F8F9FA !important;
}

.mobile-nav-links .dropdown-menu li {
  padding-top: 0 !important;
  border-bottom: 1px solid #0000001a;
}

.mobile-nav-links .dropdown-menu li:hover {
  border-bottom: none !important;
}

footer .adv {
  border-bottom: 1px solid #c7c7c7;
}

footer .adv h6 {
  color: #01A4EA;
  font-family: cairo bo;
  font-size: 19.2px;
}

footer .adv p {
  font-size: 14.4px;
  font-family: cairo li;
}

footer .adv i {
  font-size: 3.5rem;
  color: #01A4EA;
}

footer .adv .circle {
  border: 2px dashed #01A4EA;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .8rem;
  margin: auto;
}

footer .info h5 {
  color: #6c757d;
  font-family: cairo bo;
  font-size: 18px;
}

footer .info li a {
  color: #6c757d;
  text-decoration: none;
}

footer .info li a:hover {
  text-decoration: underline;
  color: #01A4EA;
}

footer .info li::marker {
  color: #6c757d;
}

footer .contact-part i {
  color: #01A4EA;
  font-size: 1.3rem;
}

footer .contact-part .follow-us .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: .2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .contact-part .follow-us .circle:hover {
  background: #01A4EA !important;
}

footer .contact-part .follow-us i {
  font-size: 1.2rem;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

footer .banks-logos img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

footer .banks-logos p {
  color: #6c757d;
}

.profile {
  background: #F3F3F3;
}

.profile .container h1 {
  font-size: 18px;
  color: #01A4EA;
}

.profile .container h1 span {
  color: #ffc107;
}

.profile .main .row {
  background: #fff;
  border: 1px solid #ced4da;
}

@media (min-width: 320px) and (max-width: 768px) {
  .profile .main .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile .main .row .active {
  background-color: #01A4EA !important;
  border: none !important;
}

.profile .main .row .active i {
  color: #fff !important;
}

.profile .main .row p {
  font-size: 12px;
  color: #6c757d;
}

@media (min-width: 320px) and (max-width: 464px) {
  .profile .main .row .pt-md-3 {
    padding-top: .5rem;
  }
}

@media (min-width: 464px) and (max-width: 768px) {
  .profile .main .row .pt-md-3 {
    padding-top: 1rem;
  }
}

.profile .main .row .circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid #ced4da;
  text-align: center;
  background: transparent;
}

.profile .main .row .circle img {
  min-width: 80%;
  max-width: 80%;
  min-height: 65px;
  max-height: 65px;
  padding-top: .9rem;
}

.profile .main .row .circle i {
  font-size: 2.5rem;
  color: #6c757d;
}

@media (min-width: 320px) and (max-width: 463px) {
  .profile .main .row .circle {
    width: 40px;
    height: 40px;
  }
  .profile .main .row .circle i {
    font-size: 1rem;
  }
  .profile .main .row .circle img {
    min-width: 70%;
    max-width: 70%;
    min-height: 38px;
    max-height: 38px;
    margin-top: -.6rem;
  }
}

.profile .main .information .container {
  min-width: 100%;
  background: #fff;
}

@media (min-width: 320px) and (max-width: 991px) {
  .profile .main .information .container .personal-info {
    border-left: none !important;
  }
}

.profile .main .information .container .row {
  border: none;
}

.profile .main .information .container .row h2 {
  color: #01A4EA;
  font-size: 20px;
  font-weight: bold;
  padding: .5rem 0;
}

.profile .main .information .container .row p {
  font-size: 16px;
  color: #000;
}

.profile .main .information .container .row img {
  max-width: 100%;
  min-width: 100%;
  max-height: 70px;
  min-height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile .main .information .container .row input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: .5rem;
  margin: .8rem 0;
  outline: none;
}

.profile .main .information .container .row input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

@media (min-width: 320px) and (max-width: 460px) {
  .profile .main .information .container .row-1 .store-settings .ins-icons {
    font-size: 10px;
  }
}

.profile .main .information .container .row-1 .store-settings .save-btn {
  background: #01A4EA;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: .2rem 1rem;
  display: block;
  margin-right: auto;
}

.profile .main .information .container .row-1 .store-settings a {
  color: #01A4EA;
  text-decoration: none;
}

.profile .main .information .container .row-1 .special-btn {
  background: #D32535;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: .2rem .5rem;
}

.profile .main .information .container .row-2 .personal-info a {
  color: #01A4EA;
  text-decoration: none;
}

.profile .main .information .container .row-2 .save-btn {
  background: #01A4EA;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: .2rem 1rem;
  display: block;
  margin-right: auto;
}

.profile .orders .container {
  background: #fff;
}

@media (min-width: 1441px) and (max-width: 3001px) {
  .profile .orders .container {
    max-width: 100%;
  }
}

.profile .orders .container .form-select {
  width: 15%;
}

.profile .orders .container .form-select:focus {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #b6b6b6;
}

@media (min-width: 320px) and (max-width: 991px) {
  .profile .orders .container .form-select {
    width: 40%;
  }
}

.profile .orders .container .row {
  border: none;
}

.profile .orders .container .row .col {
  background: #928B73;
  color: #fff;
}

.profile .ads .container {
  background: #fff;
}

@media (min-width: 1441px) and (max-width: 3001px) {
  .profile .ads .container {
    max-width: 100%;
  }
}

.profile .ads .container .row {
  border: none;
}

.profile .ads .container .row form .form-select {
  width: 30%;
  display: inline;
  margin: .5rem 1rem;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile .ads .container .row form .form-select:focus {
  border: 1px solid #c3bebe;
}

@media (min-width: 320px) and (max-width: 991px) {
  .profile .ads .container .row form .form-select {
    width: 81%;
  }
}

.profile .ads .container .row form input, .profile .ads .container .row form textarea {
  width: 30%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: .5rem 1rem;
  padding: .5rem .3rem;
  outline: none;
}

.profile .ads .container .row form input:focus, .profile .ads .container .row form textarea:focus {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
          box-shadow: 0px 0px 5px 1px rgba(1, 164, 234, 0.5);
}

@media (min-width: 320px) and (max-width: 991px) {
  .profile .ads .container .row form input, .profile .ads .container .row form textarea {
    width: 81%;
  }
}

.profile .ads .container .row form textarea {
  resize: none;
  margin-right: 3.2rem;
}

@media (min-width: 320px) and (max-width: 426px) {
  .profile .ads .container .row form textarea {
    width: 85%;
    margin: auto;
    margin-right: 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .profile .ads .container .row form textarea {
    margin-right: 3rem;
  }
}

.profile .ads .container .row form input[type="checkbox"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 50% !important;
}

.profile .ads .container .row form span {
  color: red;
  display: block;
}

.profile .ads .container .row form p {
  color: #01A4EA;
}

.profile .ads .container .row form p a {
  color: #01A4EA;
}

.profile .ads .container .row form .last-btn {
  width: 100px;
  padding: .5rem 1rem;
  background: #01A4EA;
  color: #fff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
