.discount-badge{
  position: absolute;
  content: '';
  top: -5.8px;
  right: 6px;
  width: 55px;
  height: 55px;
  background-position: center;
  background: url('https://www.gamesatis.com/assets/icons/salesale-d999fd6103def214a04a0339f8b44d481e28a0018a7a3120f9dc50d41003ca3c.svg') no-repeat;
}
.discount-value{
  position: absolute;
  top: -3px;
  right: 16px;
  color: #fff !important;
  z-index: 99;
}
