// top-bar
.top-bar{
    border-bottom: 1px solid $border-color;
    .container{
        p{
            font-size: 14px;
            color: $links-color;
            margin: 0;
        }
        a{
            color: $links-color;
            font-family: cairo bo;
            text-decoration: none;
            padding: 0 .6rem;
            border-left: 1px solid $border-color;
            font-size: 12px;
            &:hover{
                text-decoration: underline;
            }
            @media (min-width: 320px) and (max-width: 426px) {
                font-size: 7px;
             }
        }
        .last-link{
            color: $second-color;
            border-left: none;
        }
    }
}
// main-nav
.main-nav{
    border-bottom: 1px solid $border-color;
    background: #fff;
  
    .container{
        .navbar-toggler{
            background: $main-color;
            top: 0;
            z-index: 1010;
        }
        .navbar-collapse{
            transition: .3s;
        }
        .navbar-brand,.navbar-nav{
            @media (min-width: 1024px) and (max-width: 3000px) {
                width: 27.5%;
            }
        }
        .navbar-form{
            width: 45%;
            @media (min-width: 320px) and (max-width: 991px) {
                width: 80%;
                margin: 1rem auto !important;
            }
        }
        form{
            box-shadow: 0px 5px 6px -1px rgba(172,150,150,0.10);
            position: relative;
            width: 40%;
            .input-group{
                &::after{
                    position: absolute;
                    content: '\f002';
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    color: rgb(177, 177, 177);
                    font-size: 14px;
                    text-align: center;
                    padding: .2rem .1rem;
                    width: 20px;
                    height: 20px;
                    top: 2.5px;
                    right: 2.5px;
                    z-index: 999;
                }
                ::placeholder {
                    color: $hr-color;
                  }
                input{
                    height: 30px;
                    &:focus{
                        border: $border-color 1px solid;
                        box-shadow: none;
                    }
                   
                }
               
            }
        }
        ul{
            li{
                padding-right: .3rem;
                background: #fff;
            }
            .sell-link,.login-link{
                width: 90px;
                height: 30px;
                padding: .3rem .1rem;
                font-size: 10px;
                font-weight: bold;
                margin: 0 .1rem;
                border-radius: $border-radius;
                color: #fff !important;
                text-align: center;
            }
            .login-link{
                @media (min-width: 320px) and (max-width: 991px) {
                    margin-top: .4rem;
                    padding: .3rem;
                    margin-right: auto;
                }
                @media (min-width: 768px) and (max-width: 991px) {
                    margin-left: 1rem;
                }
            }
            
            .sell-link{
                background: $second-color;
            }
            .login-link{
                background: $main-color;
            }
            i{
                color: $main-color;
                font-size: 1.5rem;
                position: relative;
            }
            .order-count{
                &::before{
                    content: "0";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    line-height: 1.4rem;
                    top: -6px;
                    margin-left: 1.5rem;
                    margin-right: -.3rem;
                    color: #fd7e14;
                    font-weight: bold;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
}
// pages-bar
.pages-bar{   
    background: #fff;
    box-shadow: 0px 5px 6px -1px rgba(172,150,150,0.30);
    ul{
        // hide last after border
        li:last-of-type{
            &::after{
                content: none;
            }
        }
        li{
            position: relative;
            border-bottom: 3px solid transparent;
            &:hover{
                background: $list-hover;
                border-bottom: 3px solid $main-color;
            }
            &::after{
                content: '';
                position: absolute;
                width: 1px;
                height: 20px;
                background:  rgb(246, 239, 239);
                top: 10px;
                left: 0;
            }
            a{
                color: $links-color;
                font-family: cairo bo;
                font-size: 12px;
                text-decoration: none;
                padding: .6rem 1.5rem !important;
                &:hover,&:focus{
                    color: $main-color;
                }
            } 
        }      
    }
    .dropdown-menu{
        padding: 0;
        border: 1px solid $main-color;
        border-top: 3px solid $main-color;
        border-radius: 0;
        margin-top: 0 !important;
        box-shadow: 0px 0px 5px 3px rgba(255,255,255,0.30);
        z-index: 999;
        a{
            font-family: cairo li;
            font-weight: bold;
            &:active,&:hover{
                background: $list-hover !important;
            }
        }
        li{
            padding-top: 0 !important;
            border-bottom: 1px solid $border-color;
            &:hover{
                border-bottom: none !important;
            }
    }
    }
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown:hover .dropdown-menu{
        display: block !important;
        box-shadow: 0px 6px 82px 3px rgba(255,255,255,0.70);
    }
}
// mobile
.mobile-nav-links{
    a{
        border-bottom: 1px solid #0000001a ;
        color: $links-color !important;
            font-weight: bold;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
            &:last-child{
                border: none;
            }
    }
    .sell-linky{
        color: $second-color !important;
        @media (min-width: 320px) and (max-width: 991px) {
            border-bottom: 1px solid #0000001a !important;
        }
    }
    .dropdown-menu{
        padding: 0;
        border: 1px solid $main-color;
        border-top: 3px solid $main-color;
        border-radius: 0;
        margin-top: 0 !important;
        box-shadow: 0px 0px 5px 3px rgba(255,255,255,0.30);
        z-index: 999;
        a{
            font-family: cairo li;
            font-weight: bold;
            &:hover{
                color: $main-color !important;
        }
        &:active,&:hover{
            background: $list-hover !important;
        }
        }

        li{
            padding-top: 0 !important;
            border-bottom: 1px solid $border-color;
            &:hover{
                border-bottom: none !important;
        }
    }
    }
     
}
// footer
footer{
    // adv
    .adv{
        border-bottom: 1px solid rgb(199, 199, 199);
        h6{
            color: $main-color;
            font-family: cairo bo;
            font-size: 19.2px;
        }
        p{
            font-size: 14.4px;
            font-family: cairo li;
        }
        i{
            font-size: 3.5rem;
            color: $main-color;
        }
        .circle{
            border: 2px dashed $main-color;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            padding-top: .8rem;
            margin: auto;
        }
    }
    // info
    .info{
        h5{
            color: $links-color;
            font-family: cairo bo;
            font-size: 18px;
        }
        li{
            a{
                color: $links-color;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: $main-color;
                }
            }
            &::marker{
                color: $links-color;
            }
        }
    }
    .contact-part{
        i{
            color: $main-color;
            font-size: 1.3rem;
        }
        .follow-us{
            .circle{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                margin: auto;
                padding: .2rem;
                transition: .3s;
                &:hover{
                    background: $main-color !important;
                }
            }
            i{
                font-size: 1.2rem;
                transition: .3s;
                color: #fff;
                
            }
        }
    }
    .banks-logos{
        img{
            object-fit: cover;
            object-position: center;
        }
        p{
            color: $links-color;
        }
    }
}

