// import styles
@import 'base';
@import 'hamburger';
@import 'nav-footer-style';
@import 'logo-side';
// header

//  blog-show
.blog-show{ 
    background: url('../img/blog_bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .container{ 
        // hovered-logos
        @extend %hovered-logos;
        .pages-index{
        text-align: start;
        display: flex;
        justify-content: space-around;
        a{
            color: #000;
            background: #dee2e6;
            text-decoration: none;
            text-align: right;
            border-radius: $border-radius;
            padding: .1rem .4rem;
        }
        // pages-index
        .page-index{
            background: $main-color;
            padding: .1rem .6rem;
            color: #fff;
            border-radius: $border-radius;
        }
        }
        // main-row
        .main-row{
            @extend %input-area;
            // side
            @extend %side-part;
            // main
            .main-col{
                box-shadow: 0px 0px 10px 1px rgba(172,150,150,0.30);
                border-radius: $border-radius;
                background: #F3F3F3;
                margin-top: 4rem;
                // 
                .header-row{
                    .editor-part{
                        .for-responsive{
                            @media (min-width: 320px) and (max-width: 991px) {
                                display: flex;
                                justify-content: end;
                            }
                        }
                        img{
                            object-fit: contain;
                            object-position: center;
                            max-width: 100%;
                            min-width: 100%;
                            max-height: 90px;
                            min-height: 90px;
                            @media (min-width: 320px) and (max-width: 991px) {
                                max-width: 20%;
                                min-width: 20%;
                                max-height: 50px;
                                min-height: 50px;
                            }
                        }
                        a{
                            color: #000;
                            text-decoration: none;
                            font-weight: bold;
                            @media (min-width: 320px) and (max-width: 991px) {
                                padding-top: .5rem;
                                padding-right: .3rem;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                            i{
                                color: #DC3545;
                                font-size: .5rem;
                            }
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    // 
                    .bg-part{
                        text-align: center;
                        @media (min-width: 991px) and (max-width: 3001px) {
                            margin-top: -7rem;
                        }
                        img{
                            border-radius: $border-radius;
                            object-position: center;
                            object-fit: contain;
                            max-width: 100%;
                            min-width: 100%;
                            max-height: 100%;
                            min-height: 100%;
                            @media (min-width: 320px) and (max-width: 991px) {
                            }
                        }
                    }
                    // 
                    .views-part{
                        .square{
                            background: #01A4EA;
                            color: #fff;
                            width: 85px;
                            height: 60px;
                            border-radius: $border-radius;
                            padding: .8rem 0 .5rem;
                            text-align: center;
                            @media (min-width: 320px) and (max-width: 991px) {
                                margin-right: auto;
                            }
                            p{
                                font-size: 12px;
                                margin: 0;
                            }
                        }
                    }
                }
                h1{
                    font-size: 20px;
                    font-weight: bold;
                }
                .text-part{
                    text-align: center;
                    p{
                        font-size: 14px;
                        text-align: start;
                    }
                    h6{
                        text-align: start;
                    }
                    img{
                        object-position: center;
                        object-fit: contain;
                        max-width: 100%;
                        min-width: 100%;
                        max-height: 300px;
                        min-height: 300px;
                        margin: 1rem 0;
                    }
                }
                // social
                .social{
                    .all-social{
                        border-radius: $border-radius;
                        box-shadow: 0px 0px 5px 2px rgba(172,150,150,0.10);
                        @media (min-width: 320px) and (max-width: 500px) {
                            .responsive{
                                width: 18%;
                            }
                        }
                        @media (min-width: 500px) and (max-width: 991px) {
                            .responsive{
                                width: 10%;
                            }
                        }
                    }
                    .social-icons{
                        span{
                            font-size: 18px;
                            font-weight: bold;
                        }
                        i{
                            color: #fff;
                            width: 35px;
                            height: 35px;
                            padding: .6rem;
                            border-radius: 50%;
                            transition: .2s;
                        }
                        .fa-twitter{
                            background: #00aced;
                            &:hover{
                            background: #0399cf;
                            }
                        }
                        .fa-facebook-f{
                            background: #3b5998;
                            &:hover{
                                background: #2e4475;
                            }
                        }
                        .fa-linkedin-in{
                            background: #007bb6;
                            &:hover{
                                background: #0570a1;
                            }
                        }
                        .fa-whatsapp{
                            background: #29a628;
                            &:hover{
                                background: #239023;
                            }
                        }
                    }
                    .social-date{
                        font-size: 16px;
                    }
                    .scoial-logo{
                        img{
                            object-fit: contain;
                            object-position: center;
                            min-height: 100%;
                            max-height: 100%;
                            min-width: 50px;
                            max-width: 50px;

                        }
                        a{
                            text-decoration: none;
                            color: #000;
                            font-weight: bold;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
                // divide-bg
                .divide-bg{
                    background: url('../img/div.png') no-repeat;
                    background-position: center;
                    background-size: cover;
                    color: #fff;
                    padding: .5rem 1rem;
                    border-radius: $border-radius;
                }
                // instructions
                .instructions{
                    background: #fff;
                    font-size: 12px;
                    border-radius: $border-radius;
                }
                h6{
                    color: $main-color;
                }
            }
        }
    }
}