// import styles
@import 'base';
@import 'hamburger';
@import 'discount-badge';
@import 'nav-footer-style';
@import 'cards';
// games-rounded-carousel
.games-rounded-carousel{
    background: $section-color;
    overflow: hidden;
    .splide__slide__container{
        padding: .5rem 0;
    }
    img{
        border: 2px solid $main-color;
        object-position: center;
        object-fit: contain;
        transition: .3s;
        &:hover{
            filter: saturate(250%);
            transform: scale(1.030);
        }
    }
}
// header-gallery
.header-gallery{
    background: $section-color;
    .sub-link{
        color: $main-color;
        font-family: cairo bo;
        text-decoration: none;
        transition: .3s;
        width: fit-content;
        &:hover{
            text-decoration: underline;
        }
    }
    // header-banner
    .header-banner{
        img{
            min-width: 100%;
            max-width: 100%;
            min-height: 148px;
            max-height: 148px;
            border-radius: $border-radius;
            @media (min-width: 320px) and (max-width: 450px) {
                min-height: 90px;
                max-height: 90px;
            }
        }
        .carousel-item{
            width: 100%;
            height: 100%;
            img{
                min-width: 100%;
                max-width: 100%;
                min-height: 300px;
                max-height: 300px;
                @media (min-width: 320px) and (max-width: 450px) {
                    min-height: 120px;
                    max-height: 120px;
                }
            }
        }
        .carousel-indicators [data-bs-target]{
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
        .carousel-indicators .active{
            background-color: $main-color !important;
        }
        .carousel-item {
            transition: ease-out .5s;
        }
        
    }
    // cards-wrapper
    @extend %cards-wrapper;
    // upcoming
    .upcoming{
        img{
            border-radius: $border-radius;
            min-width: 100%;
            max-width: 100%;
            min-height: 150px;
            max-height: 150px;
            @media (min-width: 320px) and (max-width: 450px) {
                min-height: 90px;
                max-height: 90px;
            }
        }
        .upcoming-carousel{
            img{
                min-height: 302px;
                max-height: 302px;
                @media (min-width: 320px) and (max-width: 450px) {
                    min-height: 150px;
                    max-height: 150px;
                }
            }
        }
    }
    // offers
    .offers{
        h1,p{
            color: $links-color;
        }
        .card{
            position: relative;
            .timer{
                position: absolute;
                top: 50%;
                right: 2%;
                color: #fff;
                border-radius: $border-radius;
                border: 1px solid $font-color;
                padding: .2rem;
                transform: skew(-15deg);
                font-style: italic;
                .timer-content{
                    background: $font-color;
                }
            }
            img{
                object-fit: contain;
                object-position: center;
                max-height: 150px;
                min-height: 150px;
            }
            .quantity{
                width: fit-content;
                background: $main-color;
                border-radius: $border-radius;
                margin: .3rem;
                padding: 0 .3rem;
                color: #fff;
            }
            .card-title{
                color: #000;
                font-weight: bold;
                font-size: 18.4px;
                display: block;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: $main-color;
                }
             }
             .card-desc{
                color: $font-color;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap; 
                overflow: hidden; 
             }
             .card-price{
                 color: $links-color;
             }
             .card-discount{
                 color: $links-color;
             }
             .buy-link{
                 width: fit-content;
                 border-radius: $border-radius;
                 background: $main-color;
                 color: #fff;
                 text-decoration: none;
                 padding: .3rem .7rem;
                 i{
                     font-size: 1.5rem;
                 }
             }
        }
    }
    // all-offers
    .all-offers{
        img{
            min-width: 100%;
            max-width: 100%;
            min-height: 150px;
            max-height: 150px;
            border-radius: $border-radius;
            @media (min-width: 320px) and (max-width: 450px) {
                min-height: 90px;
                max-height: 90px;
            }
        }
    }
    // opportunities
    .opportunities{
        text-align: start !important;
        h1,p{
            color: $links-color;
        }
    }
    // blog
    .blog{
            .card{
                position: relative;
                color: #fff;
                img{
                    border-radius: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 150px;
                    max-height: 150px;
                }
                .top-right {
                    position: absolute;
                    top: 8px;
                    right: 16px;
                    padding: .3rem;
                    width: fit-content;
                    background: $main-color;
                    border-radius: $border-radius;
                  }
                  .centered {
                    position: absolute;
                    width: 100%;
                    top: 65%;
                    left: 49%;
                    transform: translate(-50%, -50%);
                    text-align: right;
                    padding: .3rem;
                  }
                  .bottom-left {
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                    i{
                        color: $main-color;
                    }
                  }
                  .bottom-right {
                    position: absolute;
                    bottom: 8px;
                    right: 16px;
                    i{
                        color: $main-color;
                    }
                  }
                  .bottom-right,.centered{
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-family: cairo bo;
                        text-align: right;
                        &:hover{
                            color: $main-color;
                            text-decoration: underline;
                        }
                    }
                  }      
            }
            .blog-header{
                img{
                    border-radius: 0;
                    min-width: 100%;
                    max-width: 100%;
                    min-height: 305px;
                    max-height: 305px;
                    @media (min-width: 320px) and (max-width: 450px) {
                        min-height: 150px;
                        max-height: 150px;
                    }
                }
            }
    }
    // publishers
    .publishers{
        overflow: hidden;
        h1,p{
            color: $links-color;
        }
        .splide--rtl>.splide__arrows .splide__arrow--next, .splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{
            display: none;
        }
        .splide--rtl>.splide__arrows .splide__arrow--prev, .splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{
        display: none;
        }
        img{
            border: 2px solid $main-color;
            object-position: center;
            object-fit: contain;
            width: 130px;
        }
    }
    // about
    .about{
        h4{
            font-family: cairo bo;
            font-size: 16.5;
            padding-bottom: .5rem;
        }
        p{
            font-size: 12.5px;
        }
    }

}
// splide
.games-rounded-carousel .splide__arrows{
    @media (min-width: 320px) and (max-width: 991px) {
        display: none;
        
    }
}
svg{
    fill: #ced4da;
    transform: scale(1.3) !important;
}
.splide__arrow--prev{
    background: transparent;
    right: -28px !important;
}
.splide__arrow--next{
    background: transparent;
    left: -28px !important;
    top: 28px;
    transform: rotate(180deg);
}